@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap');

:root {
    font-size: 16px;
    font-weight: 300;
    --bg_blck: #0f0f0f;
    --bg_white: #fefefe;
    --bg_footer: #202020;
    --txt_main: #1c1c1c;
    --txt_sub_44: #444;
    --txt_sub_77: #777;
    --white_ff: #fff;
    --grey_aa: #aaa;
    --gray_de: #dedede;
    --gray_c7: #c7c7c7;
    --img_bg: #f7f7f7;
    --white_f0: #f0f0f0;
    --ginseng: #C1843A;
    --rice: #BEAF9A;
    --greentea: #4B6D2F;
    --redbean: #712116;
    --propulis: #E6A11C;
    --greenplum: #74822B;
    --centella: #5F6B3D;
    --mugwort: #1B4805;
    --tit_font: "Cormorant", serif;
    --txt_font: "Public Sans", sans-serif;
}

body {
    background: var(--bg_white);
    font-size: 1rem;
    color: var(--txt_main);
    font-family: var(--txt_font);
    line-height: 1.4;
}

.inner {
    max-width: 1700px;
    margin-inline: auto;
}

.tit {
    font-family: var(--tit_font);
    font-size: 3rem;
    line-height: 120%;
    font-weight: 500;
}

.btn {
    width: 120px;
    height: 45px;
    font-size: 1rem;
    font-weight: 400;
}


header {
    width: 100%;
    height: 124px;
    position: fixed;
    top: 0;
    left: 0;
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .logo {
    display: block;
    width: 350px;
    height: 51px;
}

header .logo h1 {
    font-family: "Scheherazade New", serif;
    font-size: 36px;
    font-weight: 400;
}

nav ul.gnb {
    display: flex;
    gap: 70px;
    font-size: 1.25rem;
}

nav ul.gnb>li {
    position: relative;
}

nav ul.gnb>li>a {
    display: block;
    width: 100%;
    height: 100%;
}

ul.sub {
    position: absolute;
    width: 100%;
    height: 550px;
    top: 100%;
    background: var(--bg_white);
}

ul.sub li {
    display: none;
}


.nav_right {
    width: 350px;
    display: flex;
    justify-content: flex-end;
    gap: 32px;
}

.nav_right button,
.nav_right a {
    display: inline-block;
    width: 30px;
    height: 30px;
}