.section-5,
.section-5 * {
    box-sizing: border-box;
}

.section-5 {
    background: #ffffff;
    padding: 100px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 1700px;
    position: relative;
}

.con-tit {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.tit {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 90px;
    position: relative;
}

.line {
    background: #1c1c1c;
    flex-shrink: 0;
    width: 48px;
    height: 1px;
    position: relative;
}

.cultural-heritage {
    color: #444444;
    text-align: center;
    font-family: var(--cormorant-m-title40px25rem-font-family,
            "Cormorant-Medium",
            sans-serif);
    font-size: var(--cormorant-m-title40px25rem-font-size, 40px);
    line-height: var(--cormorant-m-title40px25rem-line-height, 120%);
    font-weight: var(--cormorant-m-title40px25rem-font-weight, 500);
    position: relative;
    align-self: stretch;
}

.bridging-five-centuries-of-korean-beauty-wisdom-wi {
    color: #1c1c1c;
    text-align: center;
    font-family: var(--cormorant-m-title48px3rem-font-family,
            "Cormorant-Medium",
            sans-serif);
    font-size: var(--cormorant-m-title48px3rem-font-size, 48px);
    line-height: var(--cormorant-m-title48px3rem-line-height, 120%);
    font-weight: var(--cormorant-m-title48px3rem-font-weight, 500);
    position: relative;
    align-self: stretch;
}

.txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

p.for-over-500-years-the-royal-court-of-joseon-dyna {
    color: #444444;
    text-align: center;
    font-family: var(--publicsans-l-banner20px125rem-font-family,
            "PublicSans-Light",
            sans-serif);
    font-size: var(--publicsans-l-banner20px125rem-font-size, 20px);
    line-height: var(--publicsans-l-banner20px125rem-line-height, 130%);
    font-weight: var(--publicsans-l-banner20px125rem-font-weight, 300);
    position: relative;
    align-self: stretch;
}

p.these-time-honored-traditions-represent-not-merely {
    color: #666666;
    text-align: center;
    font-family: var(--publicsans-l-banner20px125rem-font-family,
            "PublicSans-Light",
            sans-serif);
    font-size: var(--publicsans-l-banner20px125rem-font-size, 20px);
    line-height: var(--publicsans-l-banner20px125rem-line-height, 130%);
    font-weight: var(--publicsans-l-banner20px125rem-font-weight, 300);
    position: relative;
    align-self: stretch;
}

.con-1 {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1700px;
    position: relative;
}

.line2 {
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 1) 100%);
    flex-shrink: 0;
    width: 1px;
    height: 1340px;
    position: absolute;
    left: 50%;
    translate: -50%;
    bottom: 0px;
}

.tit2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

h2.the-sacred-journey-through-time {
    color: #1c1c1c;
    text-align: center;
    font-family: var(--cormorant-m-title30px1875rem-font-family,
            "Cormorant-Medium",
            sans-serif);
    font-size: var(--cormorant-m-title30px1875rem-font-size, 30px);
    line-height: var(--cormorant-m-title30px1875rem-line-height, 120%);
    font-weight: var(--cormorant-m-title30px1875rem-font-weight, 500);
    position: relative;
}

.line3 {
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(28, 28, 28, 1) 50%,
            rgba(0, 0, 0, 0) 100%);
    flex-shrink: 0;
    width: 96px;
    height: 1px;
    position: relative;
}

.inner2 {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.card-01 {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.txt2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

time._1392 {
    color: #666666;
    text-align: right;
    font-family: var(--num20px-font-family, "PublicSans-Medium", sans-serif);
    font-size: var(--num20px-font-size, 20px);
    line-height: var(--num20px-line-height, 16.8px);
    letter-spacing: var(--num20px-letter-spacing, 2.8px);
    font-weight: var(--num20px-font-weight, 500);
    text-transform: uppercase;
    position: relative;
}

h3.foundation-of-beauty-culture {
    color: #1c1c1c;
    text-align: right;
    font-family: var(--publicsans-l-banner24px15rem-font-family,
            "PublicSans-Light",
            sans-serif);
    font-size: var(--publicsans-l-banner24px15rem-font-size, 24px);
    line-height: var(--publicsans-l-banner24px15rem-line-height, 130%);
    font-weight: var(--publicsans-l-banner24px15rem-font-weight, 300);
    position: relative;
}

p.the-establishment-of-joseon-dynasty-marked-the-beg {
    color: #444444;
    text-align: right;
    font-family: var(--publicsans-l-18px1125rem-font-family,
            "PublicSans-Light",
            sans-serif);
    font-size: var(--publicsans-l-18px1125rem-font-size, 18px);
    line-height: var(--publicsans-l-18px1125rem-line-height, 140%);
    font-weight: var(--publicsans-l-18px1125rem-font-weight, 300);
    position: relative;
    width: 319px;
}

.log {
    background: #fefefe;
    border-radius: 26843500px;
    border-style: solid;
    border-color: #1c1c1c;
    border-width: 4px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    position: relative;
    box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
        0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.text {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 24px;
    height: 33.6px;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
}

.div {
    color: #1c1c1c;
    text-align: left;
    font-family: "Manrope-Regular", sans-serif;
    font-size: 24px;
    line-height: 33.6px;
    font-weight: 400;
    position: relative;
    flex: 1;
}

.line4 {
    flex-shrink: 0;
    width: 380px;
    height: 0px;
    position: relative;
}

.card-02 {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.text2 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 24px;
    height: 33.6px;
    position: relative;
}

.div2 {
    color: #1c1c1c;
    text-align: left;
    font-family: "Manrope-Regular", sans-serif;
    font-size: 24px;
    line-height: 33.6px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
    width: 24px;
}

.txt3 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

time._1400 {
    color: #666666;
    text-align: right;
    font-family: var(--num20px-font-family, "PublicSans-Medium", sans-serif);
    font-size: var(--num20px-font-size, 20px);
    line-height: var(--num20px-line-height, 16.8px);
    letter-spacing: var(--num20px-letter-spacing, 2.8px);
    font-weight: var(--num20px-font-weight, 500);
    text-transform: uppercase;
    position: relative;
}

h3.the-art-of-natural-ingredients {
    color: #1c1c1c;
    text-align: right;
    font-family: var(--publicsans-l-banner24px15rem-font-family,
            "PublicSans-Light",
            sans-serif);
    font-size: var(--publicsans-l-banner24px15rem-font-size, 24px);
    line-height: var(--publicsans-l-banner24px15rem-line-height, 130%);
    font-weight: var(--publicsans-l-banner24px15rem-font-weight, 300);
    position: relative;
}

p.the-establishment-of-joseon-dynasty-marked-the-beg2 {
    color: #444444;
    text-align: left;
    font-family: var(--publicsans-l-18px1125rem-font-family,
            "PublicSans-Light",
            sans-serif);
    font-size: var(--publicsans-l-18px1125rem-font-size, 18px);
    line-height: var(--publicsans-l-18px1125rem-line-height, 140%);
    font-weight: var(--publicsans-l-18px1125rem-font-weight, 300);
    position: relative;
    width: 319px;
}

.card-03 {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

time._1500 {
    color: #666666;
    text-align: right;
    font-family: var(--num20px-font-family, "PublicSans-Medium", sans-serif);
    font-size: var(--num20px-font-size, 20px);
    line-height: var(--num20px-line-height, 16.8px);
    letter-spacing: var(--num20px-letter-spacing, 2.8px);
    font-weight: var(--num20px-font-weight, 500);
    text-transform: uppercase;
    position: relative;
}

h3.golden-age-of-royal-beauty {
    color: #1c1c1c;
    text-align: right;
    font-family: var(--publicsans-l-banner24px15rem-font-family,
            "PublicSans-Light",
            sans-serif);
    font-size: var(--publicsans-l-banner24px15rem-font-size, 24px);
    line-height: var(--publicsans-l-banner24px15rem-line-height, 130%);
    font-weight: var(--publicsans-l-banner24px15rem-font-weight, 300);
    position: relative;
}

.card-04 {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.log2 {
    background: #fefefe;
    border-radius: 26843500px;
    border-style: solid;
    border-color: #1c1c1c;
    border-width: 4px;
    padding: 4px;
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    position: relative;
    box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
        0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.container {
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 100%);
    border-radius: 26843500px;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 12px;
    top: 12px;
}

.text3 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 24px;
    height: 33.6px;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
}

time._1809 {
    color: #666666;
    text-align: right;
    font-family: var(--num20px-font-family, "PublicSans-Medium", sans-serif);
    font-size: var(--num20px-font-size, 20px);
    line-height: var(--num20px-line-height, 16.8px);
    letter-spacing: var(--num20px-letter-spacing, 2.8px);
    font-weight: var(--num20px-font-weight, 500);
    text-transform: uppercase;
    position: relative;
}

h3.the-sacred-encyclopedia {
    color: #1c1c1c;
    text-align: right;
    font-family: var(--publicsans-l-banner24px15rem-font-family,
            "PublicSans-Light",
            sans-serif);
    font-size: var(--publicsans-l-banner24px15rem-font-size, 24px);
    line-height: var(--publicsans-l-banner24px15rem-line-height, 130%);
    font-weight: var(--publicsans-l-banner24px15rem-font-weight, 300);
    position: relative;
}

.card-05 {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

time.present {
    color: #666666;
    text-align: right;
    font-family: var(--num20px-font-family, "PublicSans-Medium", sans-serif);
    font-size: var(--num20px-font-size, 20px);
    line-height: var(--num20px-line-height, 16.8px);
    letter-spacing: var(--num20px-letter-spacing, 2.8px);
    font-weight: var(--num20px-font-weight, 500);
    text-transform: uppercase;
    position: relative;
}

h3.modern-renaissance {
    color: #1c1c1c;
    text-align: right;
    font-family: var(--publicsans-l-banner24px15rem-font-family,
            "PublicSans-Light",
            sans-serif);
    font-size: var(--publicsans-l-banner24px15rem-font-size, 24px);
    line-height: var(--publicsans-l-banner24px15rem-line-height, 130%);
    font-weight: var(--publicsans-l-banner24px15rem-font-weight, 300);
    position: relative;
}

.container2 {
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    position: relative;
}

.container3 {
    background: rgba(28, 28, 28, 0.12);
    border-radius: 26843500px;
    border-style: solid;
    border-color: #1c1c1c;
    border-width: 1.6px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
}

.container4 {
    background: #ffffff;
    border-radius: 26843500px;
    opacity: 0.01;
    width: 125.44px;
    height: 125.44px;
    position: absolute;
    left: -30.72px;
    top: -30.72px;
}

.container5 {
    background: #1c1c1c;
    border-radius: 26843500px;
    border-style: solid;
    border-color: #1c1c1c;
    border-width: 4px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 0.5px;
    top: 0px;
    box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
        0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.div3 {
    color: #fefefe;
    text-align: left;
    font-family: "Manrope-Regular", sans-serif;
    font-size: 24px;
    line-height: 33.6px;
    font-weight: 400;
    position: relative;
    flex: 1;
}

.container6 {
    flex-shrink: 0;
    width: 380px;
    height: 0px;
    position: relative;
}