@media (max-width: 1024px) {
    .section_3 .key-ingredients {
        font-size: 44px;
    }

    .section_3 .sub-text {
        font-size: 18px;
        max-width: 80%;
    }

    .section_3 .inner3 {
        width: 90%;
    }

    .section_3 .card {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .section_3 .img2 img {
        height: auto;
    }
}
