  @media (max-width: 1024px) {
      .story-card {
          flex-direction: column !important;
      }

      .story-card img,
      .story-card .text {
          width: 100%;
      }

      .ingredient-card {
          flex-direction: column;
          height: auto;
      }

      .ingredient-card .image {
          height: 300px;
      }
  }