@charset "utf-8";

.skintest_btu {
  position: fixed;
  right: 24px;
  bottom: calc(env(safe-area-inset-bottom, 0px) + 24px);
  z-index: 9999;
  display: block;
  width: 80px;
  height: auto;
  pointer-events: auto;
  transition: transform .18s ease, opacity .18s ease;
}

.skintest_btu img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: auto;
  opacity: .5;
}

main {
  width: 100%;
}

.main .mainVisual {
  height: 100dvh;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.main .mainVisual video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.bestSeller {
  background: #000000;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}


.bestSeller .product {
  display: flex;
  flex-direction: column;
  height: 860px;
  /*   gap: 0px;
  align-items: flex-start;
  justify-content: flex-start; */
  /*   width: 1920px;
  position: absolute;
  left: 0px;
  top: 0px; */
}

.bestSeller .slide_wrap {
  width: 100%;
  height: 430px;
  position: relative;
  /* background: #ccc; */
  /*   overflow: hidden;
  pointer-events: auto; */
}

.bestSeller .slide_wrap2 .swiper-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  flex-wrap: nowrap;
  width: max-content;
}

.bestSeller .product .card {
  width: 425px;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  pointer-events: auto;
  /* transition: opacity .25s ease; */
}

.bestSeller .product:hover .card {
  opacity: .4;
}

.bestSeller .product .card:hover {
  opacity: 1;
}

.bestSeller .product .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*   width: 425px;
  height: 430px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%; */
}

/* .bestSeller .top,
.bestSeller .bottom {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
} */

.bestSeller .product .card {
  /*   flex-shrink: 0;
  width: 425px;
  height: 430px; */
  /*   position: relative; */
}

/* .bestSeller .swiper */
/* .bestSeller .swiper {
  width: 100%;
  overflow: hidden;
  pointer-events: auto;
}

.bestSeller .swiper-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  transition-timing-function: linear !important;
}

.bestSeller .swiper-slide {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;

}

.bestSeller .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  pointer-events: none;

} */

.banner_1 {
  width: 100%;
  height: 1857px;
  box-sizing: border-box;
  position: relative;
}

.banner_1 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.gradation_box {
  background: linear-gradient(180deg,
      rgba(15, 15, 15, 0) 0%,
      rgba(15, 15, 15, 1) 100%);
  width: 100%;
  height: 1102px;
  position: absolute;
  left: 0px;
  top: 755px;
}

.banner_1 .txt_box {
  z-index: 1;
  padding: 0;
}

.banner_1 .txt_box .txt_top {
  z-index: 2;
  color: var(--white_ff);
  font-family: var(--txt_font);
  font-size: 2.5rem;
  text-align: left;
  line-height: 140%;
  left: 110px;
  top: 180px;
  position: absolute;
}

.banner_1 .txt_box .txt_bottom {
  z-index: 2;
  color: var(--white_ff);
  font-family: var(--txt_font);
  font-size: 2.5rem;
  text-align: right;
  line-height: 140%;
  right: 110px;
  bottom: 90px;
  position: absolute;
}

.influencer {
  /* 반응형 고정값 기반 */
  --card: 421px;
  --gap: 5px;
  width: 100%;
  padding: 100px 0;
  background: var(--bg_black);
}

.influencer>.inner {
  padding-inline: 0;
  max-width: 1700px;
  margin: 0 auto;
  height: auto;
  display: flex;
  gap: var(--gap);
  align-items: flex-start;
  justify-content: center;
}

.influencer .card_left,
.influencer .card_right {
  width: calc(var(--card) * 2 + var(--gap));
  height: calc(var(--card) * 3 + var(--gap) * 2);
  /* 절대배치 카드까지 감싸도록 높이 확보 */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  align-items: flex-start;
}

.influencer .card {
  width: var(--card);
  height: var(--card);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background: var(--img_bg);
}

.influencer .card_3,
.influencer .card_6 {
  height: calc(var(--card) * 2 + var(--gap));
}

.influencer .card>.media,
.influencer .card>img,
.influencer .card>video {
  width: 100%;
  height: 100%;
  display: block;
}

.influencer .card>.media img,
.influencer .card>.media video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.influencer .card>img,
.influencer .card>video {
  object-fit: cover;
}

.influencer .card_left .card_5 {
  position: absolute;
  right: 0;
  top: calc(var(--card) * 2 + var(--gap) * 2);
  /* card_2(1칸) + gap + card_4(1칸) + gap */
  width: var(--card);
  height: var(--card);
}

.influencer .card_right .card_8 {
  position: absolute;
  right: 0;
  top: calc(var(--card) + var(--gap));
  /* card_7 아래 줄 시작 위치 */
  width: var(--card);
  height: var(--card);
}

.influencer .card .black {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: rgba(0, 0, 0, .45);
  color: var(--white_ff);
  opacity: 0;
  pointer-events: none;
  transition: opacity .25s ease;
  z-index: 2;
}

.influencer .card:hover .black {
  opacity: 1;
  pointer-events: auto;
}

.influencer .black_top {
  position: absolute;
  left: 16px;
  right: 16px;
  top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.influencer .black_top .name {
  font-size: 1rem;
  line-height: 1.4;
}

.influencer .black_center {
  text-align: center;
  display: grid;
  gap: 10px;
}

.influencer .black_center p {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 500;
}

.influencer .wish {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.influencer .wish .icon_heart {
  width: 20px;
  height: 20px;
  display: block;
}

.influencer .wish .icon_heart:nth-of-type(2) {
  display: none;
}

.influencer .wish.active .icon_heart:nth-of-type(1) {
  display: none;
}

.influencer .wish.active .icon_heart:nth-of-type(2) {
  display: block;
}

.influencer .card figure.media {
  margin: 0;
}

/* 360도 한 바퀴 애니메이션*/
@keyframes spin-360 {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}
/* 트리거 클래스: 붙는 순간 한 번만 회전 */
.influencer .card.do-spin {
  animation: spin-360 2000ms ease-out both;
  will-change: transform;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

/* 카드들 flip 실행*/
/* @keyframes flip-left-lite {
  0% {
    transform: perspective(800px) rotateY(0deg);
  }

  50% {
    transform: perspective(800px) rotateY(-12deg);
  }

  100% {
    transform: perspective(800px) rotateY(0deg);
  }
}

.influencer .card.do-flip {
  animation: flip-left-lite 600ms ease both;
  will-change: transform;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.influencer .card[data-aos] {
  opacity: 1;
  transform: none;
} */



.membership {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.membership video {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  aspect-ratio: 16/9;
}

.membership .login_box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 303px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 820px;
}

.membership .login_box .txt_box {
  padding: 10px;
  align-self: stretch;
  flex-shrink: 0;
  height: 45px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.membership .login_box .txt_box .txt {
  color: var(--txt_main);
  text-align: center;
  font-size: 1.125rem;
  line-height: 140%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.membership .login_box .btu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.membership .login_box .btu_box .btu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.membership .login_box .btu_box .login {
  width: 120px;
  border: solid .5px var(--txt_main);
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  font-size: 1rem;
}

.membership .login_box .btu_box .joinNow {
  width: 120px;
  border: solid .5px var(--txt_main);
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  font-size: 1rem;
}

.hanbang {
  width: 100%;
  height: 973px;
  background: var(--img_bg);
  display: flex;
}

.hanbang .inner {
  padding-inline: 0;
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  position: relative;
}

.hanbang .inner .txt_left,
.hanbang .inner .txt_right {
  width: 528px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.hanbang .inner .txt_left ul,
.hanbang .inner .txt_right ul {
  list-style: none;
  margin: 0;
  padding: 0 0 18px;
}

.hanbang .inner .txt_left ul>button,
.hanbang .inner .txt_right ul>button {
  all: unset;
  display: block;
  width: 100%;
  cursor: pointer;
}

.hanbang .inner .txt_left .tit,
.hanbang .inner .txt_right .tit {
  font-family: var(--tit_font);
  font-size: 2.5rem;
  color: var(--txt_sub_77);
  line-height: 140%;
  letter-spacing: .02em;
  margin-bottom: 6px;
}

.hanbang .inner .txt_left .txt,
.hanbang .inner .txt_right .txt {
  color: var(--txt_sub_77);
  line-height: 140%;
  font-size: 1.125rem;
}

.hanbang .inner .progress {
  position: relative;
  height: 16px;
  margin: 10px 0 8px;
}

.hanbang .inner .progress .bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background: var(--grey_de);
  transform: translateY(-50%);
  z-index: 1;
}

.hanbang .inner .progress .playbar {
  position: absolute;
  left: 0;
  top: 50%;
  width: 10%;
  height: 6px;
  background: var(--ginseng);
  border-radius: 999px;
  transform: translateY(-50%);
  z-index: 2;
}

.hanbang .inner .img_box {
  width: 644px;
  height: 753px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hanbang .inner .img_box .img1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hanbang .inner .img_box .img1 img {
  width: 503px;
  height: 756px;
  max-height: 100%;
  width: auto;
  display: block;
}

.hanbang .inner .img_box .imgTxt {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.hanbang .inner .img_box .imgTxt .txt_box1 {
  width: 190px;
  height: 190px;
  position: absolute;
  right: 8%;
  top: 0%;
}

.hanbang .inner .img_box .imgTxt .txt_box2 {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 10%;
  top: 28%;
}

.hanbang .inner .img_box .imgTxt .txt_box3 {
  width: 170px;
  height: 170px;
  position: absolute;
  right: 25%;
  bottom: 0;
}

/* txt_box1/2/3 서서히 나타나게 (fade up) */
.hanbang .inner .img_box .imgTxt .txt_box1,
.hanbang .inner .img_box .imgTxt .txt_box2,
.hanbang .inner .img_box .imgTxt .txt_box3 {
  opacity: 0;
  transform: translateY(12px);
  animation-name: hanbang-fadeup;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.2, .8, .2, 1);
}

.hanbang .inner .img_box .imgTxt .txt_box1 {
  animation-delay: 0.50s;
}

.hanbang .inner .img_box .imgTxt .txt_box2 {
  animation-delay: 1.00s;
}

.hanbang .inner .img_box .imgTxt .txt_box3 {
  animation-delay: 1.50s;
}

@keyframes hanbang-fadeup {
  from {
    opacity: 0;
    transform: translateY(12px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.banner_2 {
  position: relative;
}

.banner_2 img {
  width: 100%;
  height: 400px;
}

.banner_2 .txt_box {
  position: absolute;
  top: 86px;
  right: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 122px;
}

.banner_2 .txt_box .txt {
  margin-bottom: 20px;
  color: var(--white_ff);
  text-align: right;
  line-height: 1.5rem;
}

.banner_2 .txt_box .btn {
  width: 170px;
  color: var(--white_ff);
  border-color: var(--white_ff);
}

.banner_2 .txt_box .btn:hover {
  background: var(--white_ff);
  color: var(--txt_main);
}

.blog {
  width: 100%;
  height: 1886px;
}

.blog .inner {
  width: 100%;
  padding: 100px 110px;
}

.blog .inner .product {
  margin-top: 40px;
  display: flex;
  gap: 140px;
}

.blog .inner .product .allstory {
  width: 730px;
  height: 1009px;
}

.blog .inner .product .allstory img {
  width: 730px;
  height: 640px;
}

.blog .inner .product .allstory .txt_box {
  margin-top: 87px;
  display: grid;
  row-gap: 42px;
  justify-items: center;
  text-align: center;
}

.blog .inner .product .allstory .txt_box .tit {
  font-size: 40px;
  text-align: center;
}

.blog .inner .product .allstory .txt_box .txt {
  width: 630px;
  text-align: center;
}

.blog .inner .product .allstory .txt_box .btn {
  margin: 20px auto 0;
}

.blog .inner .product .allstory .txt_box .btn:hover {
  background: var(--txt_main);
  color: var(--white_ff);
}

.blog .inner .product .cards {
  width: 830px;
  display: grid;
  grid-template-columns: repeat(2, 395px);
  /* 2열 고정 */
  column-gap: 40px;
  row-gap: 100px;
  width: 830px;
}

.blog .inner .product .card {
  width: 395px;
}

.blog .inner .product .card img {
  width: 100%;
  height: 344px;
  object-fit: cover;
}

.blog .inner .product .card .txt_box {
  margin-top: 12px;
  gap: 16px;
}

.blog .inner .product .card .txt_box .date {
  font-size: 14px;
  color: var(--txt_sub_77);
}

.blog .inner .product .card .txt_box .txt {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}