@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap');

:root {
    font-size: 16px;
    font-weight: 300;
    --bg_black: #0f0f0f;
    --bg_white: #fefefe;
    --bg_footer: #202020;
    --txt_main: #1c1c1c;
    --txt_sub_44: #444;
    --txt_sub_77: #777;
    --white_ff: #fff;
    --grey_aa: #aaa;
    --gray_de: #dedede;
    --grey_c7: #c7c7c7;
    --img_bg: #f7f7f7;
    --white_f0: #f0f0f0;
    --ginseng: #C1843A;
    --rice: #BEAF9A;
    --greentea: #4B6D2F;
    --redbean: #712116;
    --propulis: #E6A11C;
    --greenplum: #74822B;
    --centella: #5F6B3D;
    --mugwort: #1B4805;
    --tit_font: "Cormorant", serif;
    --txt_font: "Public Sans", sans-serif;
}

.skintest {min-height:100; height: 1080px; background-image: url(../img/skintest-bg.jpg); background-size: cover; background-position: center; background-repeat: no-repeat; display: flex;
align-items: center; justify-content: center;}
.skintest .inner {display: flex; flex-direction: column; align-items: center; gap: 16px; text-align: center; padding: 24px;}

.skintest .tit h2 {font-size: 2.5rem; font-family: var(--tit_font);}
.skintest .tit p {font-size: 1.125rem; font-family: var(--txt_font); font-weight: 300; color: var(--txt_sub_44);}
.label-group {display: flex; gap: 8px; flex-wrap: wrap; justify-content: center;}
.label {
  width: 230px; height: 50px; display: flex; align-items: center; justify-content: center;text-align: center; border: 1px solid #000; font-family: var(--txt_font); background: transparent; box-sizing: border-box;}

.test-start-btn {width: 184px; height: 60px; border: 1px solid #000; font-family: var(--txt_font);
  background: transparent; cursor: pointer; transition: .3s;}
.test-start-btn:hover {background: #000; color: #fff;}

/* 반응형 */
@media (max-width: 1024px) {
    .skintest {width: 100%; height: auto; min-height: 100vh;}
    .label {width: 230px;}
    }
