@charset "uft-8";

@media screen and (max-width:1050px) {
    .inner {
        width: 90vw;
        padding-inline: 0px;
    }
}
.FAQ {
    background-size: 130% auto;
}


/* 선생님께 도움요청... !! ㅠㅠㅠ */
@media screen and (max-width:952px) {
    .how_it_work {
      /*   height: auto; */
    }

    .how_it_work .list {
        margin-bottom: 15vh;
    }

    /* 선생님께 도움요청... !! ㅠㅠㅠ */

.FAQ {
    background-size: 150% auto;
}





    .how_it_work .list ul {
        flex-direction: column;
    }
}

@media screen and (max-width:768px) {
    .inner {
        width: 90vw;
    }

    .line {
        height: 33px;
        width: 369px;
    }
}

@media screen and (max-width:684px) {
    .card_tit h2 {
        display: none;
    }

    .toggle_flex {
        margin-top: 30px;
        font-size: 20px;
        display: flex;
    }

    .card_tit {
        margin: auto;
        margin-bottom: 60px;
        width: 90vw;
    }

    .redeem_for_products,
    .ways_to_earn {
        display: none;
    }

    .redeem_for_products.active,
    .ways_to_earn.active {
        display: block;
    }

    .FAQ {
    background-size: 180% auto;
}
}

@media screen and (max-width:480px) {
    .FAQ {
    background-size: 200% auto;
}
}
