@charset "uft-8";

@media screen and (max-width:1500px) {
    .how_it_work {
        /* height: 1000px; */
    }

}

@media screen and (max-width:1300px) {
    .how_it_work {
        /* height: 950px; */
    }
}




@media screen and (max-width:1050px) {
    .inner {
        width: 90vw;
        padding-inline: 0px;
    }

    .FAQ {
        background-size: 130% auto;
    }

    .how_it_work {
        /* height: 850px; */
    }
}



/* 선생님께 도움요청... !! ㅠㅠㅠ */
@media screen and (max-width:952px) {
    .how_it_work {
        /* height: 1200px; */
    }

    .how_it_work .list {
        /* margin-bottom: 15vh; */
    }

    .how_it_work .list ul {
        flex-direction: column;
    }

    .FAQ {
        background-size: 150% auto;
    }

    em {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:768px) {
    .line {
        height: 33px;
        width: 369px;
    }

    .how_it_work {
        /* height: 1150px; */
    }

}

@media screen and (max-width:684px) {
    .card_tit h2 {
        display: none;
    }

    .toggle_flex {
        margin-top: 30px;
        font-size: 20px;
        display: flex;
    }

    .card_tit {
        margin: auto;
        margin-bottom: 60px;
        width: 90vw;
    }

    .redeem_for_products,
    .ways_to_earn {
        display: none;
    }

    .redeem_for_products.active,
    .ways_to_earn.active {
        display: block;
    }

    .FAQ {
        background-size: 180% auto;
    }

    em {
        font-size: 1.1rem;
    }

    span {
        font-size: 0.9rem;
    }

    .toggle-icon {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:480px) {
    .how_it_work {
        /* height: 1100px; */
    }

    .FAQ {
        background-size: 200% auto;
    }

    .line {
        height: 29px;
        width: 320px;
    }

    em {
        font-size: 1rem;
    }
}