@charset "utf-8";

body {
    font-size: 1.125rem;
    line-height: 1.4;
}

.inner {
    width: 80vw;
}

.btn {
    display: inline-block;
}

.tit {
    font-size: 2.5rem;
    margin: 40px 0;
    text-align: center;
}

.line {
    width: 492px;
    height: 44px;
    background: url(/hanbang/img/line.png) no-repeat;
    margin: auto;
    background-size: cover;
}

.main_visual {
    display: flex;
    height: 1040px;
}

.main_visual .txt_g .tit {
    text-align: left;
}

.main_visual .left {
    flex: 2;
    text-align: center;
}

.main_visual .left img {
    width: 200px;
    margin-bottom: 70px;
}

.main_visual .right {
    flex: 3;
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
}

.txt_g {
    width: 680px;
    margin-bottom: 80px;

}

.btn:first-child {
    margin-right: 24px;
}

.list {

    margin: 160px auto;
    width: 76vw;
    min-height: 1200px;
    text-align: center;
    background-color: var(--white_f0);
    border: 40px solid transparent;
    border-image: url('../img/corner.png') 40 fill stretch;
}



.vip_tiers .list>ul {
    /* display: flex; */
    display: none;
    width: 90%;
    margin: 80px auto;
    background-color: var(--gray_de);
    justify-content: space-around;
    padding-bottom: 40px
}

.vip_tiers .list>ul>li {
    flex: 1;
    padding: 20px;
}

.vip_tiers .list>ul>li>ul {
    display: flex;
    flex-direction: column;
    gap: 20px
}

em {
    display: block;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 1.5rem;
}

p {
    font-weight: 500;
}

span {
    font-size: 1rem;
}

.vip_tiers .list>ul>li>ul>li:nth-child(1) {
    height: 80px;
    line-height: 400%;
    background-color: aqua;
}


/* 선생님께 도움요청... !! ㅠㅠㅠ */
.how_it_work {
    width: 100%;
    /* height: 1080px; */
    background-image: url(../img/Howitwork_bg.png);
    background-color: yellow;
    background-position: center bottom;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: 100% auto;
}

.how_it_work {
    padding: 160px 0;
}


.how_it_work .list {
    margin-block: 0;
    display: flex;
    justify-content: center;
    min-height: 340px;
    /* 2. 배경색을 반투명하게 설정 (backdrop-filter를 보기 위해 필수) */
    background-color: rgba(255, 255, 255, 0.8);
    /* 3. 백그라운드 블러 효과 적용 */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* Safari 지원 */
}

.how_it_work .list ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.how_it_work .list ul>li {
    display: flex;
    flex-direction: column;
}

.how_it_work .list ul>li img {
    height: 90px;
    object-fit: contain;
    margin-bottom: 24px;
}


.redeem_for_products,
.ways_to_earn {
    width: 100%;
    color: var(--white_f0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 1300px;
    padding: 160px 0;
}

/* .card_tit h2{
    display: block;
} */

.toggle_flex {
    display: none;
    width: 90vw;
}

.toggle_flex .on {
    flex: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 166px;
    max-width: 500px;
    height: 54px;
    line-height: 100%;
    text-align: center;
    border: 26px solid transparent;
    border-image: url('../img/toggle_redeem_02.svg') 25 fill stretch;
}

.toggle_flex .off {
    flex: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 148px;
    max-width: 500px;
    height: 54px;
    line-height: 100%;
    border: 26px solid transparent;
    border-image: url('../img/toggle_redeem_01.svg') 25 fill stretch;
    color: var(--txt_sub_77);
}

.ways_to_earn .toggle_flex .on {
    border-image: url('../img/toggle_redeem_04.svg') 25 fill stretch;
}

.ways_to_earn .toggle_flex .off {
    border-image: url('../img/toggle_redeem_03.svg') 25 fill stretch;
}














.redeem_for_products .line {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.ways_to_earn .line {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.card_tit {
    margin-bottom: 120px;
}

.bottom {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.arrow::before {
    content: "";
    display: inline-block;
    /* 공간 차지하도록 */
    width: 14px;
    height: 14px;
    /* 아이콘 크기 지정 */
    background-image: url(../img/reward_arrow.svg);
    background-size: 100% 100%;
    margin-right: 8px;
}

.dis {
    opacity: 20%;
}

.artlcle_g {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.artlcle_g>div {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.artlcle_g .box {
    background: var(--bg_footer) url(../img/img_Earn_Birthday.png) no-repeat calc(100% - 20px) calc(100% - 20px);
    flex: 1;
    height: 180px;
    min-width: 300px;
    max-width: 750px;
    position: relative;
    padding: 16px;
    background-size: auto 70px;
    border-top: 4px solid var(--txt_sub_44);
}

.box_g {
    flex: 1;
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.redeem_for_products {
    background: url(../img/Redeem_bg.png) center/cover no-repeat;
}

.redeem_for_products .box1 {
    background-image: url(../img/img_Redeem_01.png);
    background-size: auto 55px;
}

.redeem_for_products .box2 {
    background-image: url(../img/img_Redeem_02.png);
    background-size: auto 60px;
}

.redeem_for_products .box3 {
    background-image: url(../img/img_Redeem_03.png);
    background-size: auto 50px;
}

.redeem_for_products .box4 {
    background-image: url(../img/img_Redeem_04.png);
    background-size: auto 80px;
}

.redeem_for_products .box5 {
    background-image: url(../img/img_Earn_Instagram.png);
}

.redeem_for_products .box6 {
    background-image: url(../img/img_Earn_TikTok.png);
}

.redeem_for_products .box7 {
    background-image: url(../img/img_Earn_Birthday.png);
}

.ways_to_earn {
    background: url(../img/Earn_bg.png) center/cover no-repeat;
}

.ways_to_earn .box1 {
    background-image: url(../img/img_Earn_Join.png);
}

.ways_to_earn .box1 .arrow::before {
    background-image: url(../img/reward_check.svg);
    width: 20px;
    height: 14px;
}

.ways_to_earn .box2 {
    background-image: url(../img/img_Earn_Order.png);
}

.ways_to_earn .box3 {
    background-image: url(../img/img_Earn_Review.png);
}

.ways_to_earn .box4 {
    background-image: url(../img/img_Earn_Friend.png);
    background-size: auto 50px;
}

.ways_to_earn .box5 {
    background-image: url(../img/img_Earn_Instagram.png);
}

.ways_to_earn .box6 {
    background-image: url(../img/img_Earn_TikTok.png);
}

.ways_to_earn .box7 {
    background-image: url(../img/img_Earn_Birthday.png);
}

.friend {
    width: 100%;
    height: 400px;
    background-color: var(--bg_footer);
    color: var(--white_f0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.FAQ {
    width: 100%;
    padding: 160px 0;
    background-image: url(../img/reward_FAQ_bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #f8f8f8;
}


.FAQ ul {
    list-style: none;
    padding: 20px 40px 60px 40px;
    margin: auto;
}

.FAQ ul li {
    border-bottom: 1px solid var(--txt_sub_44);
}

.accordion-content span {
    color: var(--txt_sub_44);
}

.accordion-list {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

/* 아코디언 제목 스타일 */
.accordion-title {
    padding: 20px 10px 10px 10px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.toggle-icon {
    font-size: 2rem;
    transition: transform 0.5s;
}

/* 아코디언 내용 스타일 */
.accordion-content {
    padding: 0 15px 15px 15px;
    display: none;
    overflow: hidden;
}

.accordion-title.active .toggle-icon {
    content: "—";
    transform: rotate(180deg);
}

/* 'active' 클래스가 붙었을 때 내용이 보이도록 설정 */
.accordion-content.active {
    display: block;
}