@charset "utf-8";


.btn2 {
    height: 40px;
    font-size: 1.125rem;
    display: flex;
    color: #fff;
    gap: 5px;
    align-items: center;

}

.btn2:after {
    content: url(../img/arrow_up.svg);
    display: inline-block
}

.puzzle {
    background: var(--bg_black);
    width: 100%;
    height: 100vh;
}

.puzzle .inner {
    display: flex;
}

.puzzle_wrap {
    width: 1300px;
}

.puzzle_wrap img {
    width: 281px;
    height: 281px;
}

.puzzle_right {
    width: 450px;
    height: 280px;
    text-align: center;
    margin-block: auto;
}

.puzzle .tit {
    width: 450px;
    line-height: 1.2;
    margin-inline: auto;
}

.puzzle .txt_area {
    color: var(--white_ff);
}

.puzzle .txt_area .txt {
    width: 450px;
    line-height: 1.4;
    font-size: 1.125rem;
    margin-inline: auto;
    margin-top: 12px;
    color: var(--grey_c7);
}

.puzzle .btn_box {
    display: flex;
    gap: 12px;
    color: var(--white_ff);
    margin-top: 60px;
    justify-content: center;
}

.puzzle .btn {
    border-color: var(--white_ff);
}

.sale_zone  {
    background: var(--bg_black);
    color: var(--white_ff);
}

.sale_zone .txt {
    margin-top: 12px;
    color: var(--grey_c7);
    width: 220px;
    line-height: 140%;
}

.sale_zone .btn2 {
    color: var(--white_ff);
}

.product_wrap {

}

.pro_card  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pro_card .pro_img {
    width: 548px;
    height: 548px;
    background: var(--shop_bg);
}